// File XML
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/FileXML/Library.rh>
#include <XYO/FileXML/Copyright.rh>
#include <XYO/FileXML/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_FILEXML,"file-xml.dll","XYO File XML")
